body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background:radial-gradient(circle at center,#80393c,#861d21, #460001) ;
}
footer {
	background: #dad1d1;
	height: 80px;
	font-family: 'Courgette', cursive;
	text-align: center;
}
header {
	background: #8a8a8a;
	height: 80px;
	font-family: 'Courgette', cursive;
	align-items: center;
}	
.game_area{
	margin:100px 0 100px 0;
}
.logo {
	float: left;
	text-decoration:none;
}
h1{
	padding: 20px 0 0 20px;
	font-size: 35px;
	color:white;
}

.redes{
	float : center;
	padding-top: 1.25rem;
}

.redes a {
    margin: 0;
	padding: 0 0.3rem 0 0;
}
.redes a img{
	width: 2.5rem;
	height: 2.5rem;
}

.info{
	float:right;
	text-align:center;
}
.info div a{
	text-decoration:none;
}

