body {
	margin: 0;
	padding: 0;
	background:rgb(209, 209, 209);
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	/*background: radial-gradient(red,rgb(138, 17, 17),rgb(0, 0, 0));*/
}


/*header*/
header{
	background: rgb(39, 39, 39);
	padding:1.5em 0;
	margin-bottom: 8em;
	font-family: 'Courgette', cursive;
}
.header-container{
	width: 85%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
header a{
	text-decoration: none;
	color:white;
	border-radius:1.5em;
	font-size: 1.5em;
}
header a:hover{
	background:rgb(161, 9, 9);
}
header ul{
	margin:0;
	padding:0;
	list-style: none;
}
header ul li{
	display: inline-block;
}
header ul li a {
	display:block;
	padding:0.5rem 1rem;
}
.logo{
	font-size:2em;
}

main{
	margin:2em auto;
}

/*footer*/

footer{
	background: rgb(83, 83, 83);
	padding:2em 0;
	margin-top:8em;
	bottom:0;
	width: 100%;

}
.footer-container{
	width: 70%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
footer img{
	width:3.5em;
	height: 3.5em;
	border-radius:1em;	
	margin:0 0.6rem;
	
}
footer img:hover{
	background:rgb(0, 0, 0);
}
footer p{
	color:white;
	font-size: 1.5em;
}



/*other html*/
.about_us{
	text-align: center;
	font-size: 2.5rem;
}
.about_us p{
	font-size: 1.5rem;
	padding: 0 25rem;
}

.our_game{
	padding: 0 4rem;
	display:flex;
	justify-content: space-between;
}
.our_game img{
	width: 37.5em;
	height: 31.25em;
}
.our_game p{
	text-align: left;
	font-size: 1.25rem;
	line-height: 1.7rem;
	padding: 0 3rem;
}
.desc{
	text-align: left;
	font-size: 1.5rem;
	padding: 0 3rem 1rem 3rem;

}
