body {
	margin: 0;
	padding: 0;
	background:radial-gradient(circle at center,#80393c,#861d21, #460001) ;
	line-height: 50%
}
footer {
	background: #160101;
	height: 80px;
	font-family: 'Courgette', cursive;
}
header {
	background: #160101;
	height: 80px;
	font-family: 'Courgette', cursive;
}	
.game_area{
	margin:100px 0 100px 0;
	border:2px solid darksalmon;
}
.logo {
	float: left;
	text-decoration:none;
}
h1{
	padding: 20px 0 0 20px;
	font-size: 35px;
	margin: 15px 0;
	color:rgb(255, 255, 255);
}

.info{
	float : right;
	align-items: center;
}

.info ul {
    margin: 0;
	padding: 15px 20px 0 0;
}
	
.info ul li {
    display: inline-block;   
    line-height: 80px;
}
        
.info ul li a {
    display: block;
    padding: 0 10px;
	
}

.info ul li a img{
	width: 40px;
	height: 40px;
}
